body {
	background: white;
	font-family: 'Arvo', serif;
	text-align: center;
	color: rgb(52, 52, 52);
}

/*MAIN 4 DIVS*/

#setup {
	background-color: rgb(205, 250, 248);
	width: 100vw;
	height: 100vh;
	position: relative;
}

#game {
	background-color: azure;
	width: 100vw;
	height: 100vh;
	padding: 5px;
}

#gameWrapper {
	display: none;
	margin: 0 auto;
	height: 200px;
	width: 960px;
}

#gameBoard {
	margin: 0 auto;
	min-width: 700px;
	max-width: 790px;
}

/*TEXT STYLES*/

h1 {
	color: rgb(52, 52, 52);
	margin-bottom: 40px;
	font-size: 40px;
}

h2 {
	font-size: 24px;
	color: rgb(52, 52, 52);
	margin-bottom: 10px;
}

#gameStatus {
	margin: 20px auto;
	font-size: 40px;
}

/*POP UPS*/

#popUp1, #popUp2, #popUp3, #popUp4 {
	background: ghostwhite;
	border: 2px solid rgb(83, 83, 83);
	width: 340px;
	margin: auto;
	padding: 20px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);  
	transform: translate(-50%, -50%);   
}

#popUp5 {
	background: ghostwhite;
	border: 2px solid rgb(83, 83, 83);
	width: 340px;
	margin: 30px auto;
	padding: 20px;
	text-align: center;
}

#popUp2, #popUp3, #popUp4, #popUp5 {
	display: none;
}

.popUp1, .popUp2, .popUp3, .popUp4, .popUp5, #selectOption {
	margin: 10px 5px 0px 5px;
	font-family: 'Arvo', serif;
	color: rgb(52, 52, 52);
	font-size: 15px;
	background-color: white;
	border: 2px solid rgb(83, 83, 83);
	padding: 5px;
	outline: 0;
}

button:hover {
	border: 2px solid rgb(88, 235, 215);
}

#selectOption {
	height: 31px;
}

/*ALPHABET*/

#letterSeed {
	margin: 20px auto;
	width: 585px;
}

.letters {
	background-color: white;
	font-family: 'Arvo', serif;
	color: rgb(10, 145, 142);
	font-size: 16px;
	height: 35px;
	width: 35px;
	border: 2px solid rgb(83, 83, 83);
	margin: 5px;
	outline: 0;
}

.letters:hover {
	color: rgb(88, 235, 215);
}

.correct {
	background-color: rgb(88, 235, 215);
	color: white;
}

.correct:hover {
	color: rgb(83, 83, 83);
}

.incorrect {
	background-color: rgb(83, 83, 83);
	color: black;
}

/*CHOSEN WORD*/

#wordSeed {
	margin-top: 30px auto;
	/*	line-height: 47px;*/
}

.word {
	background-color: azure;
	font-family: 'Arvo', serif;
	color: rgb(83, 83, 83);
	font-size: 24px;
	height: 30px;
	width: 35px;
	border-bottom: 2px solid rgb(83, 83, 83);
	margin: 0px 5px;
	outline: 0;
	display: inline-block;
	vertical-align: top;
}

div[value='/'], div[value='-'] { 
	border: none;
}

/*HANGMAN*/

#animation {
	width: 175px;
	height: 210px;
	display: block;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 20px;
}

footer {
	background-color: azure;
	font-size: 12px;
	color: rgb(52, 52, 52);
	padding: 10px;
}