body {
	font-family: 'Arvo', serif;
	background: white;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 60px;
}

#popUp1, #popUp2, #popUp3, #popUp4 {
	background: orange;
	height: 90px;
	width: 330px;
	margin: 10px auto;
	padding: 20px;
	text-align: center;
	position: relative;
}

#popUp2, #popUp3, #popUp4 {
	display: none;
}

.popUp1, .popUp2, .popUp3, .popUp4, #selectOption {
	margin: 10px;
	font-family: 'Arvo', serif;
	font-size: 15px;
	background-color: white;
	border: 1px solid black;
	padding: 5px;
}

#selectOption {
	height: 32px;
}

#gameWrapper {
	display: none;
	margin: 50px auto;
	height: 200px;
	width: 800px;
}

#gameBoard {
	float: left;
	display: inline-block;
	width: 600px;
}

.letters {
	background-color: white;
	font-family: 'Arvo', serif;;
	font-size: 16px;
	height: 35px;
	width: 35px;
	border: 2px solid black;
	margin: 5px;
	outline: 0;
}

#wordSeed {
	margin-top: 20px;
}

#letterSeed {
	margin-top: 20px;
}

.letters:hover {
	border: 2px solid grey;
}

div[value='/'] { 
	border: none;
}

.word {
	background-color: white;
	font-family: 'Arvo', serif;;
	font-size: 24px;
	height: 30px;
	width: 35px;
	border-bottom: 2px solid black;
	margin: 0px 5px;
	outline: 0;
	display: inline-block;
}

#gameStatus {
	margin: 20px auto;
	font-size: 40px;
}

#guessCounter {
	margin: 20px auto;
	font-size: 18px;
}

#animation {
	border: 2px solid black;
	width: 140px;
	height: 250px;
	margin-right: 20px;
	float: left;
	display: inline-block;
}